main32.dtd

<!--The XML DTD schema for the Movies Database -->
 <!-- The Main file -->
<!ELEMENT directorfilms (director, films) > <!-- for  each director there is a header, and then a list of  the dir ector's films -->
   <!ELEMENT director (dirid, dirstart, dirname, coverage) >  <!-- some director info-->
      <!ELEMENT dirid >     <!-- unique code for each director -->
      <!ELEMENT dirstart >     <!-- first year  director -->
      <!ELEMENT dirname >     <!-- canonical name for each director, also unique.  All directors must appear as  DIRECTORS in people.html -->
      <!ELEMENT coverage >     <!-- notation about degree of start and coverage of the film list -->
   <!ELEMENT films (film*) >     <!-- list of films for one director --> 
      <!ELEMENT film (fid, t, alts*, year, date?, dirs, prods, studios, prcs, cats, awards, loc, period?, notes*, error)> 
<!-- Comment: All movies of a director are listed  together in sequence, but only for  some directors have all movies been entered..  -->
        <!ELEMENT fid>    <!--  Comment:   An internally generated id for the film.  This is the key of the film entries and is unique.  It is composed of dirid and a  sequence number.  The sequence numbers often have gaps to allow incremental insertion. --> 
        <!ELEMENT t>   <!--  The film's title.  This field is not necessarily unique.  If unknown, it is coded NKT. --> 
        <!ELEMENT alts (alt+) >   <!--  Alternate  titles.  --> 
           <!ELEMENT alt (altt, altwhy?) >   <!--  Alternate  titles. also used for multi-part movies  --> 
              <!ELEMENT altt >   <!--  Alternate  titles.  --> 
              <!ELEMENT altwhy >   <!--  Reason for alternate  titles.  date, or country name, or part--> 
      <!ELEMENT serial (sertitle, serno?, sersize? >   <!--  indicates movie was part of a series.  -->  
         <!ELEMENT sertitle >      <!--  title of serial  -->  
         <!ELEMENT serno >      <!--  sequence no of film in series, can be nn-mm for multiple films.  -->  
         <!ELEMENT sersize >      <!--  length of series, sometimes given with first or last film in series.  -->  
      <!ELEMENT year (released?, re-released?)>      <!--  Year the movie was completed.  --> 
<!---   <<<<<<< Check released, rreleased usage, syntax >>>>>>>>>>>>>> -->
<!ELEMENT released >      <!--  Year the movie was released, if significantly different.  -->  
<!ELEMENT rereleased >   <!--  Year the movie was re-released, if significant.  -->  
<!ELEMENT date >         <!--  Date  first shown, mainly used for Hitchcock TV shows, Format dddmmm -->  
<!ELEMENT dirs(dir+, diraward+, dirnote? )>   <!--  Comment:   Film-specific director information.   -->  <<maybe>>
          <!ELEMENT> dir(dirk?, dirn) >   <!-- director entry  -->
         <!ELEMENT dirk>           <!-- If value is R  Director's name in Dirn is canonical and in People.xml file -->
         <!-- if value is A, that director is an actor, and if value is N, it is not canonical now.  -->
         <!ELEMENT dirn>            <!--  The first name should be redundant with dirn,  If there are multiple                           directors the primary one or the one who finished the movie is listed first. . --> 
          <!ELEMENT diraward >         <!--  awards given the director for this film . --> 
         <!ELEMENT dirnote >           <!--  note about the direction, rare. --> 
<!ELEMENT prods (prod*, prodnote) >   <!-- Comment: on Producer(s) of the movie -->
         <!ELEMENT prod (prodk?, pname ) >   <!-- Comment: : Multiple producers are permitted and common. . --> 
             <!--  currently <prdname> indicates not the canonical name -->
             <!ELEMENT prodk >   <!-- If value is R the producer's name in pname is canonical and in People.xml file -->
                     <!-- if value is A, the producer is an actor in actors.xml-->
                     <!-- if value is C, the producer is a cinematographer in people -->
                     <!-- if value is O indicates Official Agency; -->
                     <!-- if value is N, it is not canonical now, and -->
                     <!-- X means it has not been processed as R, A, or N -->
                     <!-- M indicates more, unknown producers -->
                     <!-- if value is S, then the spelling is uncertain. No reference to people can be expected.  -->
              <!ELEMENT pname >   <!-- Comment:   Producers name, if prodk is not R, then it' s the full name -->
                  <!ELEMENT prodnote >   <!-- Comment:   Note about the producerers. Rare  -->
      <!ELEMENT studios (studio*, studioloc?, distributor*)>   <!--  Comment:   . Studio information --> 
   <!ELEMENT studio >      <!-- Comment+:  Studio(s) where the movie was filmed.. Some appear in the Studio file. -->
     <!ELEMENT studioloc >      <!-- Comment+:  If country of studio is useful, uses country codes. -->
<!ELEMENT or>   <!--  Distributor, if not the studio. Some appear in the Studio file. -->
<!ELEMENT prcs (prc*, prctext?, length)?, lang? >   <!-- Process used to make the movie, no contents if unknown -->
<!ELEMENT prc >   <!--  code for process  (e.g. black and white as `bnw', col).  Color processes can be specific --> 
<!ELEMENT prctext >   <!-- rare, additional comments if  process is unusual, new. Also used for delayed, re-releases--> 
<!ELEMENT length >   <!-- unusual length, as less than 1 hour, more than 3 hours: Short, nn min, h.f hours, r reels. --> 
<!ELEMENT lang >   <!-- original language(s), if not English, uses Country codes.. --> 
<!ELEMENT cats (cat*, cattext?) >      <!--  Comment:   Categories assigned to this film --> 
<!ELEMENT cat >   <!--  Comment:   Category of the film, coded. --> 
<!ELEMENT cattext >   <!--  Comment:   Category of the film, textual --> 
<!ELEMENT awards(aw+) >    <!--  Comment:   Award information  -->
               <!ELEMENT aw (awtype, awattr?, <awref? ) > <!--  Comment:   specific award . -->
<!ELEMENT awtype   > <!--  Comment:   specific award type. Coded with award entry. -->
<!ELEMENT awattr   > <!--  Comment:   Notes about award level, VIP, or recognition of film. -->
<!ELEMENT awref   > <!--  Comment:   reference for award citation, common with  VIP.. -->
<!ELEMENT loc (site*)    >   <!--  Comment:   Locations where the film plays.   -->
<!ELEMENT site(filmedat?, sitename?, sitedes?, siteclass?, siteat?, siteplace?)    >
   <!--  Comment:  a variety of site information  -->  
   <!ELEMENT filmedat >   <!-- flag indicates site is actual location of filming, if different and significant, field empty  -->  
      <!ELEMENT sitename >   <!--  name of location, may be fictional  -->  
      <!ELEMENT sitetype>   <!-- type of site, not coded.   --> 
      <!ELEMENT sitedes >   <!--  description of site, may use codes given in codes.rdf.   --> 
      <!ELEMENT siteclass>   <!-- type of location, uses codes  given in codes.rdf.   --> 
      <!ELEMENT siteat  >   <!-- additional attributes of the place of the site, as East, West, or areas, or cities -->
      <!ELEMENT siteplace >   <!--  used for actual relevant geographic areas, 
general common names for countries, major locations: US state names or 2-letter codes, oceans, most values in Country table in codes.rdf -->  
<!ELEMENT period >   <!--  If the period of the film is significant it is given as   [[dd]mmm]yypp[AD,BC]), p is year or _. .. Multiple entries are possible, separated by commas or dash. Sometimes there is text, as Xmas, winter. --> 
<!ELEMENT people(authors?, writers?, visuals?, choreographers?, cingraphs?, composers?, editors?.)> 
                        <!--  Information about people involved in this film. The order is logical chronological in terms of roles -->
   <!ELEMENT authors(names+, bt?, pawards+). >
      <!ELEMENT names>(kname+, name+, morenames?)  <!--- names of authors -->  
         <!ELEMENT kname>    <!-- Name of person, appears in people file. . -->
         <!ELEMENT name (nnote?)>    <!-- Name of person, may appear in people file. -->
            <!ELEMENT nnote>   <!-- textual information about this person. -->
<!--  <<<<<<<<<<<<<<<< fix by having new entry type >>>>>>>>>>>>>>>>>>>> -->
         <!ELEMENT morenames>    <!-- Placeholder for more names, missing. -->
            <!ELEMENT bt>          <!-- booktitle. Only one book per film. -->
            <!ELEMENT pawards (paw+, pawattr?) > <!-- Awards given to all authors for work in this film. -->
                <!ELEMENT paw >    <!-- Award type, uses award codes. -->
                <!ELEMENT pawattr >    <!-- information about this award. -->
      <!ELEMENT writers(names+, pawards+). >
         <!ELEMENT names>(kname+, name+, morenames?)  <!-- names of writers --> 
            <!ELEMENT kname>   <!-- Name of person, appears in people file. . -->
            <!ELEMENT name (nnote?)>  <!-- Name of person, may be in people file. -->
               <!ELEMENT nnote>   <!-- textual information about this person. -->
            <!ELEMENT morenames>    <!-- Placeholder for more names, missing. -->
         <!ELEMENT pawards (paw+, pawattr?) > <!-- Awards given all writers for work in this film. -->
            <!ELEMENT paw >    <!-- Award type, uses award codes. -->
            <!ELEMENT pawattr >    <!-- information about this award. -->
      <!ELEMENT visuals(names+, fnote?, pawards+, morenames?). >   <!-- creators of visuals   --> 
         <!ELEMENT names>(kname+, name+)     <!-- names of visuals creator,  -->   
            <!ELEMENT kname>          <!-- Name of person, appears in people file. -->
                  <!ELEMENT name (nnote?)> <!-- Name of person, may appear in people file. -->
               <!ELEMENT nnote>   <!-- textual information about this person. -->
                   <!ELEMENT morenames>    <!-- Placeholder for more names, missing. -->
            <!ELEMENT fnote>       <!-- feature of visual. . -->
            <!ELEMENT pawards (paw+, pawattr?) > <!-- Awards given to all creators for work in this film. -->
                  <!ELEMENT paw >       <!-- Award type, uses award codes. -->
                  <!ELEMENT pawattr >    <!-- information about this award. -->
      <!ELEMENT choreographers(names+, bt?, fnote?, pawards+). >   <!-- choreographers --> 
            <!ELEMENT names>(kname+, name+, morenames?)     <!-- names of choreographers --> 
                  <!ELEMENT kname>          <!-- Name of person, appears in people file. . -->
                  <!ELEMENT name (nnote?)>   <!-- Name of person, may appear in people file. -->
               <!ELEMENT nnote>   <!-- textual information about this person. -->
                   <!ELEMENT morenames>    <!-- Placeholder for more names, missing. -->
            <!ELEMENT bt>          <!-- Title of ballet. Only one ballet per film. -->
            <!ELEMENT fnote>          <!-- feature of choreography. . -->
            <!ELEMENT pawards (paw+, pawattr?) > <!-- Awards given all choreographers for work in this film. -->
                  <!ELEMENT paw >    <!-- Award type, uses award codes. -->
                  <!ELEMENT pawattr >    <!-- information about this award. -->
       <!ELEMENT cingraph(names+, fnote?, pawards+). > <!-- cinematographers -->
             <!ELEMENT names>(kname+, name+, morenames?)  >     <!-- names of cinematographers --> 
                  <!ELEMENT kname>       <!-- Name of person, appears in people file. . -->
                  <!ELEMENT name (nnote?)>   <!-- Name of person, may appear in people file. -->
               <!ELEMENT nnote>   <!-- textual information about this person. -->
                   <!ELEMENT morenames>    <!-- Placeholder for more names, missing. -->
            <!ELEMENT fnote>       <!-- feature of choreography. . -->
            <!ELEMENT pawards (paw+, pawattr?) > <!-- Awards given to all c'graphers for work in this film. -->
                  <!ELEMENT paw >    <!-- Award type, uses award codes. -->
                   <!ELEMENT pawattr >    <!-- information about this award. -->
      <!ELEMENT composer(names+, pawards+). >   <!-- music composer or performer -->
         <!ELEMENT names>(kname+, name+, nametitle+, morenames?)  <!-- names of composer or performer-->   
            <!ELEMENT kname>  <!-- Name of person, appears in people file. . -->
            <!ELEMENT name>   <!-- Name of person, may appear in people file. -->
            <!ELEMENT nametitle (nm?, ttl?, mnote?)>    <!-- entry for additional info -->
               <!ELEMNT nm>  <!--Name of composer with additional info, may appear in people file. -->
              <!ELEMENT title>   <!-- title of composition for this composer. -->
              <!ELEMENT mnote>   <!-- note about this music or performer. -->
            <!ELEMENT morenames>    <!-- Placeholder for more names, missing. -->
         <!ELEMENT pawards (paw+, pawattr?) > <!-- Awards given all musicians for work in this film. -->
            <!ELEMENT paw >    <!-- Award type, uses award codes. -->
            <!ELEMENT pawattr >    <!-- information about this award. -->
      <!ELEMENT editor(names+, pawards+). >
         <!ELEMENT names>(kname+, name+, morenames?)  <!-- names of editors --> 
            <!ELEMENT kname>  <!-- Name of person, appears in people file. . -->
            <!ELEMENT name>   <!-- Name of person, may appear in people file. -->
            <!ELEMENT morenames>   <!-- Placeholder for missing names. -->
         <!ELEMENT pawards (paw+, pawattr?) > <!-- Awards given to editor of this film. -->
            <!ELEMENT paw >    <!-- Award type, uses award codes. -->
            <!ELEMENT pawattr >    <!-- information about this award. -->
<!ELEMENT notes (crossref?, rating?, money?, facts*, source?) > <!--  A variety of notes is kept.     -->
   <!ELEMENT crossref(reftype?,  refdest, refto) > <!-- crossrefers from film -->
      <!ELEMENT reftype >    <!-- Motivation -->
      <!ELEMENT refdest >    <!-- destination code, URI or local Film, Director, Studio, Actor  -->
      <!ELEMENT refto >    <!-- URI or referenced object name -->
   <!ELEMENT  money(budget?,  cost?, inc?, profit?, moneynotes*) > <!-- Information about movie finances -->
      <!ELEMENT  budget > <!--Planned cost of film, by default in US dollars -->
      <!ELEMENT  cost >   <!--Approximate cost of film, by default in US dollars -->
      <!ELEMENT  inc >    <!--Approximate income for film, default in US dollars -->
      <!ELEMENT  profit > <!--Approximate profit, i.e., inc - cost, US dollars -->
      <!ELEMENT moneynotes >    <!-- Extraordinary financial notes, including currency change -->
   <!ELEMENT rating > <!-- rating codes -->
   <!ELEMENT facts > <!-- Other information about the movie. fields are comma delimited for now -->
   <!ELEMENT source (by?, seen?, vt?) > <!-- Information about the sources for information -->
<!-- <<<<<< check order >>>>>>>>  -->
      <!ELEMENT by >    <!--  Person or unusual reference, if missing likely to be gio or student    -->
      <!ELEMENT seen  >    <!--  date(s) that movie was seen  -->
      <!ELEMENT vt >    <!--  videotape designation for that movie   -->
   <!ELEMENT errors>   <!--  Documents a variety of possible errors to be verified, entries are text as Field(problem). -->

<!--    --------------------------------------------------------------------------- -->  
